<div style="min-height: 916px;" class="content-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="box" style="border-top:0px;border-radius:0px;">
        <div class="box-header" style="margin-bottom:10px;">
          <h3 class="box-title">问题类型</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 90px;">
              <span><button type="button" class="btn btn-success js-add-btn" data-toggle="modal" data-target="#myModal" data-url="{{ path('admin_category_create') }}">添加类型</button></span>
            </div>
          </div>
        </div>
        <form id="user-search-form" class="form-inline well well-sm" action="{{path('admin_category_list')}}" method="get" novalidate="" style="border-radius:0px;">
          <div class="form-group">
            <input name="id" class="form-control" value="{{app.request.query.get('id')}}" placeholder="编号" type="text">
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <select name="priority" class="form-control" >
                <option value="">--优先级--</option>
                {% for category in otherCategorys %}
                <option value="{{category.priority}}"{% if app.request.query.get('priority') ==  category.priority %} selected="selected" {% endif %}>{{ dict_text('ticketPriority:html', category.priority) }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <input name="name" class="form-control" value="{{app.request.query.get('name')}}" placeholder="类型名" type="text">
          </div>
          <div class="form-group">
            <input name="delayedTime" class="form-control" value="{{app.request.query.get('delayedTime')}}" placeholder="滞留时间" type="text">
          </div>
          <button class="btn btn-primary">搜索</button>
        </form>

        <div class="box-body table-responsive no-padding">
          <table id="assignedTable" class="table table-hover js-table">
            <thead >
              <tr>
                <th>编号</th>
                <th>优先级</th>
                <th>类型名</th>
                <th>滞留时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for category in categorys %}
              <tr id="{{category.id}}">
                <td>{{ category.id }}</td>
                <td>{{ dict_text('ticketPriority:html', category.priority) }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.delayedTime }}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-success js-update-btn" data-toggle="modal" data-id = "{{category.id}}" data-target="#myModal" data-url="{{ path('admin_category_update',{id:category.id}) }}">编辑</button>
                  <button type="button" class="btn btn-sm btn-success js-delete-btn"  data-url="{{ path('admin_category_delete', {id:category.id})}}" data-id="{{category.id}}">删除</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ admin_macro.paginator(paginator) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal"></div>
<script type="text/javascript" src="{{asset('assets/js/admin/category/category.js')}}"></script>